Repository devdado/gedado-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm run lint, pnpm run prettier:format

.lintstagedrc.json:

{
  "*.ts": [
    "pnpm run lint",
    "pnpm run prettier:format"
  ],
  "*.json": [
    "pnpm run prettier:format"
  ],
  "*.md": [
    "pnpm run prettier:format"
  ],
  "*.html": [
    "pnpm run prettier:format"
  ],
  "*.css": [
    "pnpm run prettier:format"
  ]
}

chore: fix github actions tokens and publish step
  .github/workflows/release.yml
Due: none

fix: fix repository and homepage url at package.json
  package.json
Due: pnpm run prettier:format

fix: fix github actions triggers to run on pr creation and updates
  .github/workflows/release.yml
Due: none

fix: fix repo url and github token at semantic release
  .github/workflows/release.yml
  package.json
Due: pnpm run prettier:format

fix: fix commitlint rules for semantic-release
  .commitlintrc.json
  .releaserc
  commitlint.config.ts
  package.json
  pnpm-lock.yaml
Due: pnpm run lint, pnpm run prettier:format

chore(release): V1.0.0 [skip ci] [skip-commitlint]
  CHANGELOG.md
  package.json
Due: pnpm run prettier:format

Notes added by 'git notes add'
  6b605c8e6018b32572b07134bc2d456dec455eec
Due: none

fix: fix repo name references
  LICENSE
  README.md
  package.json
  vite.config.ts
Due: pnpm run lint, pnpm run prettier:format

fix: fix exported compiled files definition at package.json
  package.json
Due: pnpm run prettier:format

Notes added by 'git notes add'
  40b38ce9011772e557306822deda8f0716749f0b
Due: none

fix: fix changelog duplication content
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

fix: delete duplicated changelog content
  CHANGELOG.md
Due: pnpm run prettier:format

fix: fix ci.yml dependencies installation
  .github/workflows/cd.yml
  .github/workflows/ci.yml
Due: none

ci: config github actions
  .commitlintrc.json
  .github/workflows/release.yml
  .releaserc
  commitlint.config.js
  package.json
  vite.config.ts
Due: pnpm run lint, pnpm run prettier:format

Update release.yml
  .github/workflows/release.yml
Due: none

Revert "ci: config github actions"
  .commitlintrc.json
  .github/workflows/release.yml
  .releaserc
  commitlint.config.js
  package.json
  vite.config.ts
Due: pnpm run lint, pnpm run prettier:format

ci: fix github action triggers
  .github/workflows/release.yml
Due: none

chore: split ci/cd workflows
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore: fix repo, build and package names
  LICENSE
  README.md
  package.json
  vite.config.ts
Due: pnpm run lint, pnpm run prettier:format

chore: fix repo name at package.json
  package.json
Due: pnpm run prettier:format

chore: fix semantic-release permissions in cd workflow
  .github/workflows/cd.yml
Due: none

chore: remove deprecated husky commands and remove commitlint restrictions to release commit
  .commitlintrc.json
  .commitlintrc.mjs
  package.json
Due: pnpm run prettier:format

chore(release): V1.0.0 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm run prettier:format

Notes added by 'git notes add'
  514ccf814fea2c3795addef3e657fe40e312d0ab
Due: none
